
:root {
    /*Colors*/
    --primary-100: hsl(207, 70%, 60%);
    --primary-200: hsl(207, 67%, 54%);
    --primary-300: hsl(207, 73%, 25%);
    --primary-400: hsl(207, 70%, 9%);
    --primary-500: hsl(209, 66%, 7%);
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200: hsl(0, 0%, 96%);
    --neutral-300: hsl(0, 0%, 90%);
    --neutral-400: hsl(0, 0%, 80%);
    --neutral-500: hsl(0, 0%, 40%);
    --neutral-600: hsl(0, 0%, 10%);


    /*Type badge colors*/
    --normal: hsl(60, 22%, 56%);
    --fire: hsl(25, 86%, 56%);
    --water: hsl(222, 82%, 67%);
    --grass: hsl(100, 52%, 55%);
    --electric: hsl(48, 93%, 58%);
    --ice: hsl(180, 45%, 72%);
    --fighting: hsl(3, 66%, 45%);
    --poison: hsl(300, 43%, 44%);
    --ground: hsl(44, 66%, 64%);
    --flying: hsl(255, 76%, 75%);
    --psychic: hsl(342, 92%, 66%);
    --bug: hsl(66, 70%, 42%);
    --rock: hsl(49, 53%, 47%);
    --ghost: hsl(263, 27%, 47%);
    --dark: hsl(24, 22%, 36%);
    --dragon: hsl(258, 93%, 60%);
    --steel: hsl(240, 20%, 77%);
    --fairy: hsl(354, 66%, 83%);

    /*Stat colors*/
    --hp: 0, 100%, 50%;
    --attack: 25, 86%, 56%;
    --defense: 48, 93%, 58%;
    --special-attack: 222, 82%, 67%;
    --special-defense: 100, 52%, 55%;
    --speed: 342, 92%, 66%;
}


@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../assets/fonts/Poppins-Regular.ttf) format(ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../assets/fonts/Poppins-Bold.ttf) format(ttf);
    font-weight: 700;
}

/*------------------*/
/*General reset     */
/*------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    min-height: 100%;
    background-color: var(--primary-500);
    color: var(--neutral-200);
    position: relative;
}

input,
button {
    font: inherit;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

img {
    display: block;
    max-width: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

/*------------------*/
/*Main header       */
/*------------------*/
.main-header {
    display: flex;
    align-items: center;
    padding-block: 3rem;
}

.logo {
    color: var(--primary-200);
    font-size: 3rem;
    font-weight: 700;
}

.search-pokemon-form {
    margin-left: auto;
}

.input-group {
    --input-border-radius: 2rem;
    background-color: var(--neutral-200);
    border-radius: var(--input-border-radius);
    margin-bottom: 1rem;
    position: relative;
    z-index: 10;
    isolation: isolate;
}

.input-group:focus-within {
    outline: 4px solid var(--primary-200);
}

.input-group[data-error="true"] {
    outline-color: hsl(var(--hp));
}

.input-group[data-error="true"]:focus-within  {
    outline-color: hsl(var(--hp));
    outline: 4px solid hsl(var(--hp));
}

.input-group[data-error="true"] .search-pokemon-input {
    color: hsl(var(--hp));
}

.search-pokemon-input {
    background-color: var(--neutral-200);
    color: var(--neutral-500);
    font-size: 1rem;
    padding: .35rem 1rem;
    border-left: none;
    border-radius: var(--input-border-radius);
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border: none;
}

.search-pokemon-label {
    padding-inline: .25rem;
    color: var(--neutral-500);
    height: 100%;
    margin-left: .25rem;
}

.search-pokemon-hint-list {
    position: absolute;
    top: 1.25rem;
    padding-top: 1.25rem;
    z-index: -1;
    list-style: none;
    color: var(--neutral-600);
    background-color: var(--neutral-200);
    width: 100%;
    max-height: 10rem;
    border-bottom-left-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
    font-size: 1rem;
    
    display: grid;
    overflow-y: scroll;
    grid-template-rows: repeat(3, 0fr);
    transition: grid-template-rows 500ms;
}

.search-pokemon-hint-list[aria-expanded="false"] {
    grid-template-rows: repeat(1, 0fr);
}

.search-pokemon-hint-list[aria-expanded="true"] {
    grid-template-rows: repeat(1, 1fr);
}

.search-pokemon-hint {
    cursor: pointer;
    padding-inline: .75rem;
    overflow: hidden;
    transition: padding-block 500ms;
}

.search-pokemon-hint-list[aria-expanded="true"] .search-pokemon-hint {
    padding-block: 1rem;
}

.search-pokemon-hint:hover {
    color: var(--primary-200);
    background-color: var(--neutral-400);
}

.search-pokemon-message {
    position: absolute;
    color: hsl(var(--hp));
}

.search-pokemon-message[aria-hidden="false"] {
    opacity: 1;
}

.search-pokemon-message[aria-hidden="true"] {
    opacity: 0;
}

.search-icon {
    color: var(--neutral-500);
}

.icon {
    max-width: 24px;
    max-height: 24px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, .6fr));
    column-gap: 2rem;
    row-gap: 2rem;
    place-content: center;
    margin-bottom: 4rem;
    list-style: none;

    /* Only tp get more space from absolutely spaced dropdown*/
    position: relative;
    top: 8rem;
}

.see-more-button-wrapper {
    display: flex;
    justify-content: center;
}
.see-more-button {
    margin-bottom: 2rem;
    width: max-content;
}

/*--------------------*/
/*Utility classes     */
/*--------------------*/
.container {
    max-width: min(100% - 4rem, 60rem);
    margin-inline: auto;
    position: relative;
}

/* 
.initial-error-message[aria-hidden="false"] {
    opacity: 1;
    font-size: 2rem;
    text-align: center;
}

.initial-error-message[aria-hidden="true"] {
    opacity: 0;
} */

.dropdown-wrapper {
    --dropdown-spacing: 1rem;
    --dropdown-animation-time: 500ms;
    background-color: var(--neutral-200);
    color: var(--neutral-600);
    padding-top: var(--dropdown-spacing);
    border-radius: 1rem;
    min-width: 35ch;
    position: absolute;
    z-index: 5;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--dropdown-spacing);
    overflow: hidden;
}

.dropdown {
    list-style-type: none;
    overflow: hidden;
    display: grid;
    overflow-y: scroll;
    max-height: 15rem;
    transition: grid-template-rows var(--dropdown-animation-time);
}

.dropdown[aria-expanded="false"] {
    grid-template-rows: repeat(9, 0fr);
}

.dropdown[aria-expanded="true"] {
    grid-template-rows: repeat(9, 1fr);
}

.dropdown-icon {
    transition: transform var(--dropdown-animation-time);
}

.dropdown-icon[data-rotated="true"] {
    transform: rotate(180deg);
}

.dropdown-item {
    overflow: hidden;
    padding-inline: var(--dropdown-spacing);
    transition: padding-block var(--dropdown-animation-time);
    display: flex;
    align-items: center;
}

.dropdown[aria-expanded="true"] .dropdown-item {
    padding-block: calc(var(--dropdown-spacing) * 2);
}

.dropdown-item:hover {
    color: var(--primary-200);
    background-color: var(--neutral-400);
}

/*Card */
.card {
    --card-spacing: 2rem;
    background-color: var(--primary-400);
    border-radius: 2rem;
}

/* .card-container[aria-hidden="true"] {
    opacity: 0;
}

.card-container[aria-hidden="false"] {
    opacity: 1;
} */

.card-header {
    --max-img-size: 13rem;
    margin-bottom: 2rem;
    max-width: var(--max-img-size);
    margin-inline: auto;
    padding-top: 1rem;
}

.card-header img {
    max-height: var(--max-img-size);
}

.card-body {
    padding-inline: var(--card-spacing);
}

.card-body h2 {
    margin-bottom: .75rem;
}

.card-body .type-badges {
    margin-bottom: var(--card-spacing);
    display: flex;
    gap: .5rem;
}

.card-body button {
    margin-bottom: var(--card-spacing);
    width: max-content;
}

/*Info card*/
.info-card {
    --info-card-animation-duration: 250ms;
    position: fixed;
    top: min(5%, 1% + 1vw);
    left: 25%;
    right: 25%;
    z-index: 15;
    isolation: isolate;
    overflow-y: auto;
    max-height: 35rem;
    transition: transform var(--info-card-animation-duration) ease-in-out;
}

.info-card[aria-hidden="true"] {
    transform: scale(0);
}

.info-card[aria-hidden="false"] {
    transform: scale(1);
}

.info-card-header {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: 2rem;
    padding-top: 3rem;
    padding-inline: var(--card-spacing);
}

.info-card-heading {
    font-size: 2rem;
    text-align: center
}

.info-card-sprites-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.info-card-body {
    margin-bottom: 2rem;
}

/*close-button*/
.close-button {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.close-button:hover svg {
    color: var(--primary-200);
}

/* Error card */
.error-card {
    position: fixed;
    top: min(5%, 1% + 1vw);
    left: 25%;
    right: 25%;
    z-index: 15;
    isolation: isolate;
    max-width: 40rem;
}

.error-card-header {
    margin-inline: var(--card-spacing);
}

.error-card[aria-hidden="true"] {
    transform: scale(0);
}

.error-card[aria-hidden="false"] {
    transform: scale(1);
}

.error-card-header h2 {
    width: 100%;
}
.error-card-body {
    margin-bottom: var(--card-spacing);
}


/*Measurements */
.measurements {
    display: flex;
    font-size: .9rem;
    gap: 3rem;
    list-style: none;
    margin-bottom: 1rem;
}

.height-value,
.weight-value {
    font-weight: 700;
}


/*Stats */
.stats {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .825rem;
    list-style: none;
}

.stat {
    --slider-opacity: .5;
    --slider-color: var(--hp);
}

[data-stat="attack"] {
    --slider-color: var(--attack);
}

[data-stat="special-attack"] {
    --slider-color: var(--special-attack);
}

[data-stat="defense"] {
    --slider-color: var(--defense);
}

[data-stat="special-defense"] {
    --slider-color: var(--special-defense);
}

[data-stat="speed"] {
    --slider-color: var(--speed);
}

.stat-slider {
    background-color: hsl(var(--slider-color), var(--slider-opacity));
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;font-weight: 700;
    height: .5rem;
}

.filled-stat-slider {
    --filled-stat-slider-width: 90%;
    width: var(--filled-stat-slider-width);
    display: block;
    height: 100%;
    background-color: hsl(var(--slider-color), 1);
}

.total-stats-value {
    font-weight: 700;
}

.flex-row {
    display: flex;
}

.gap {
    --gap: 1rem;
    gap: var(--gap);
}

.space-around {
    justify-content: space-around;
}


/*Overlay*/

.overlay {
    background-color: hsl(0, 0%, 0%, .5);
    position: absolute;
    inset: 0;
    min-height: 100vh;
    transition: opacity 750ms ease-in-out;
}

.overlay[aria-hidden="true"] {
    opacity: 0;
    z-index: -1;
    isolation: isolate;
}

.overlay[aria-hidden="false"] {
    opacity: 1;
    transform-origin: center;
    z-index: 20;
    isolation: isolate;
}

.pokeball-icon {
    max-width: 20rem;
    max-height: 20rem;
    opacity: 1;
    isolation: isolate;
    position: fixed;
    top: 40%;
    right: 40%;
    left: 40%;
}

.overlay[aria-hidden="false"] .pokeball-icon {
    animation: spin 1.5s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pokeball-icon-outline {
    fill:hsl(0, 0%, 22%);
}

.pokeball-icon-button {
    fill:var(--neutral-100);
}

.pokeball-icon-bottom {
    fill:hsl(0, 20%, 99%);
}

.pokeball-icon-top {
    fill: hsl(0, 84%, 59%);
}



/*Button*/
.button {
    color: var(--neutral-100);
    background-color: var(--primary-200);
    font-weight: 700;
    padding: .25rem .75rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: 250ms background-color ease-in-out;
}

.button:hover {
    background-color: var(--primary-300);
}

/*Type badges*/
.type-badge {
    font-size: .875rem;
    padding: .25rem .75rem;
    border-radius: 2rem;
    font-weight: 700;
}

.type-badge[data-type="normal"] {
    background-color: var(--normal);
}

.type-badge[data-type="fire"] {
    background-color: var(--fire);
}

.type-badge[data-type="water"] {
    background-color: var(--water);
}

.type-badge[data-type="grass"] {
    background-color: var(--grass);
}

.type-badge[data-type="electric"] {
    background-color: var(--electric);
}

.type-badge[data-type="ice"] {
    background-color: var(--ice);
}

.type-badge[data-type="fighting"] {
    background-color: var(--fighting);
}

.type-badge[data-type="poison"] {
    background-color: var(--poison);
}

.type-badge[data-type="ground"] {
    background-color: var(--ground);
}

.type-badge[data-type="flying"] {
    background-color: var(--flying);
}

.type-badge[data-type="psychic"] {
    background-color: var(--psychic);
}

.type-badge[data-type="bug"] {
    background-color: var(--bug);
}

.type-badge[data-type="rock"] {
    background-color: var(--rock);
}

.type-badge[data-type="ghost"] {
    background-color: var(--ghost);
}

.type-badge[data-type="dark"] {
    background-color: var(--dark);
}

.type-badge[data-type="dragon"] {
    background-color: var(--dragon);
}

.type-badge[data-type="steel"] {
    background-color: var(--steel);
}

.type-badge[data-type="fairy"] {
    background-color: var(--fairy);
}

@media (max-width: 45em) {
    .main-header {
        flex-direction: column;
        gap: 2rem
    }

    .search-pokemon-form {
        margin-inline: auto;
    }

    .info-card-header {
        flex-direction: column;
    }

    .weight,
    .height {
        display: flex;
        flex-direction: column;
    }

    .info-card {
        max-width: max-content;
    }
    .info-card-sprites-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .dropdown-wrapper {
        right: 22.5%;
    }
}