
:root {
    /*Colors*/
    --primary-100: hsl(207, 70%, 60%);
    --primary-200: hsl(207, 67%, 54%);
    --primary-300: hsl(207, 73%, 25%);
    --primary-400: hsl(207, 70%, 9%);
    --primary-500: hsl(209, 66%, 7%);
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200: hsl(0, 0%, 96%);
    --neutral-300: hsl(0, 0%, 90%);
    --neutral-400: hsl(0, 0%, 80%);
    --neutral-500: hsl(0, 0%, 40%);
    --neutral-600: hsl(0, 0%, 10%);

    /*Type badge colors*/
    --normal: hsl(60, 22%, 56%);
    --fire: hsl(25, 86%, 56%);
    --water: hsl(222, 82%, 67%);
    --grass: hsl(100, 52%, 55%);
    --electric: hsl(48, 93%, 58%);
    --ice: hsl(180, 45%, 72%);
    --fighting: hsl(3, 66%, 45%);
    --poison: hsl(300, 43%, 44%);
    --ground: hsl(44, 66%, 64%);
    --flying: hsl(255, 76%, 75%);
    --psychic: hsl(342, 92%, 66%);
    --bug: hsl(66, 70%, 42%);
    --rock: hsl(49, 53%, 47%);
    --ghost: hsl(263, 27%, 47%);
    --dark: hsl(24, 22%, 36%);
    --dragon: hsl(258, 93%, 60%);
    --steel: hsl(240, 20%, 77%);
    --fairy: hsl(354, 66%, 83%);

    /*Stat colors*/
    --hp: 0, 100%, 50%;
    --attack: 25, 86%, 56%;
    --defense: 48, 93%, 58%;
    --special-attack: 222, 82%, 67%;
    --special-defense: 100, 52%, 55%;
    --speed: 342, 92%, 66%;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../assets/fonts/Poppins-Regular.ttf) format(ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../assets/fonts/Poppins-Bold.ttf) format(ttf);
    font-weight: 700;
}

/*------------------*/
/*General reset     */
/*------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--primary-500);
    color: var(--neutral-200);
    position: relative;
}

input,
button {
    font: inherit;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

img {
    display: block;
    max-width: 100%;
}

/*------------------*/
/*Utility classes   */
/*------------------*/
.flex-row {
    display: flex;
}

.gap {
    --_gap: 1rem;
    gap: var(--_gap);
}

.space-around {
    justify-content: space-around;
}

.container {
    max-width: min(100% - 4rem, 60rem);
    margin-inline: auto;
    position: relative;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.smooth-height-change {
    --_number-of-rows: 0;
    --_smooth-height: 0fr;
    grid-template-rows: repeat(var(--_number-of-rows), var(--_smooth-height));
}

.icon {
    --_icon-width: 24px;
    --_icon-height: var(--_icon-width);
    max-width: var(--_icon-width);
    max-height: var(--_icon-height);
}

.button {
    color: var(--neutral-100);
    background-color: var(--primary-200);
    font-weight: 700;
    padding: .25rem .75rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: 250ms background-color ease-in-out;
}

.button:hover,
.button:focus {
    background-color: var(--primary-300);
}

.dropdown-wrapper {
    --_dropdown-animation-time: 500ms;
    display: flex;
    flex-direction: column;
    gap: var(--_dropdown-spacing);
    overflow: hidden;
}

.dropdown {
    --_number-of-rows: 10;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    transition: grid-template-rows var(--_dropdown-animation-time);
}

.dropdown.smooth-height-change[aria-expanded="true"] {
    --_smooth-height: 1fr;
}

.dropdown-item {
    overflow: hidden;
    padding-inline: var(--_dropdown-spacing);
    transition: padding-block var(--_dropdown-animation-time);
    display: flex;
    align-items: center;
}

.dropdown[aria-expanded="true"] .dropdown-item {
    padding-block: calc(var(--_dropdown-spacing) * 2);
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--primary-200);
    background-color: var(--neutral-400);
}

.dropdown-icon {
    transition: transform var(--_dropdown-animation-time);
}

.dropdown-icon[data-rotated="true"] {
    transform: rotate(180deg);
}

.type-badge {
    font-size: .875rem;
    padding: .25rem .75rem;
    border-radius: 2rem;
    font-weight: 700;
}

.type-badge[data-type="normal"] {
    background-color: var(--normal);
}

.type-badge[data-type="fire"] {
    background-color: var(--fire);
}

.type-badge[data-type="water"] {
    background-color: var(--water);
}

.type-badge[data-type="grass"] {
    background-color: var(--grass);
}

.type-badge[data-type="electric"] {
    background-color: var(--electric);
}

.type-badge[data-type="ice"] {
    background-color: var(--ice);
}

.type-badge[data-type="fighting"] {
    background-color: var(--fighting);
}

.type-badge[data-type="poison"] {
    background-color: var(--poison);
}

.type-badge[data-type="ground"] {
    background-color: var(--ground);
}

.type-badge[data-type="flying"] {
    background-color: var(--flying);
}

.type-badge[data-type="psychic"] {
    background-color: var(--psychic);
}

.type-badge[data-type="bug"] {
    background-color: var(--bug);
}

.type-badge[data-type="rock"] {
    background-color: var(--rock);
}

.type-badge[data-type="ghost"] {
    background-color: var(--ghost);
}

.type-badge[data-type="dark"] {
    background-color: var(--dark);
}

.type-badge[data-type="dragon"] {
    background-color: var(--dragon);
}

.type-badge[data-type="steel"] {
    background-color: var(--steel);
}

.type-badge[data-type="fairy"] {
    background-color: var(--fairy);
}

.card {
    --_card-spacing: 2rem;
    background-color: var(--primary-400);
    border-radius: 2rem;
}

.card-header {
    --_max-img-size: 13rem;
    margin-bottom: 2rem;
    max-width: var(--_max-img-size);
    margin-inline: auto;
    padding-top: 1rem;
}

.card-header img {
    max-height: var(--_max-img-size);
}

.card-body {
    padding-inline: var(--_card-spacing);
}

.card-body h2 {
    margin-bottom: .75rem;
}

.card-body .type-badges {
    margin-bottom: var(--_card-spacing);
    display: flex;
    gap: .5rem;
}

.card-body button {
    margin-bottom: var(--_card-spacing);
    width: max-content;
}

/*-----------------------*/
/*Element specific styles*/
/*-----------------------*/
.main-header {
    display: flex;
    align-items: center;
    padding-block: 3rem;
}

.logo {
    color: var(--primary-200);
    font-size: 3rem;
    font-weight: 700;
}

.search-pokemon-form {
    margin-left: auto;
}

.input-group {
    --_input-border-radius: 2rem;
    background-color: var(--neutral-200);
    border-radius: var(--_input-border-radius);
    margin-bottom: 1rem;
    position: relative;
    z-index: 10;
    isolation: isolate;
    padding-block: .35rem;
}

.input-group[data-overflow="false"] {
    overflow: hidden;
}

.input-group:focus-within {
    outline: 4px solid var(--primary-200);
}

.input-group[data-error="true"] {
    outline-color: hsl(var(--hp));
}

.input-group[data-error="true"]:focus-within  {
    outline-color: hsl(var(--hp));
    outline: 4px solid hsl(var(--hp));
}

.input-group[data-error="true"] .search-pokemon-input {
    color: hsl(var(--hp));
}

.search-pokemon-input {
    background-color: var(--neutral-200);
    color: var(--neutral-500);
    font-size: 1rem;
    padding: .25rem 1rem;
    border-radius: var(--_input-border-radius);
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border: none;
}

.search-pokemon-input:focus {
    outline: none;
}

.search-pokemon-label {
    padding-inline: 1rem;
    padding-bottom: .7rem;
    background-color: var(--neutral-200);
    border-top-left-radius: 1rem;
    position: relative;
    z-index: 10;
}

.search-pokemon-hint-list {
    position: absolute;
    top: 1.55rem;
    padding-top: 1.25rem;
    z-index: -1;
    list-style: none;
    color: var(--neutral-600);
    background-color: var(--neutral-200);
    width: 100%;
    border-bottom-left-radius: var(--_input-border-radius);
    border-bottom-right-radius: var(--_input-border-radius);
    font-size: 1rem;
    
    max-height: 50rem;
    overflow-y: scroll;
    display: grid;
    transition: grid-template-rows 5s;
}

.search-pokemon-hint {
    cursor: pointer;
    padding-inline: .75rem;
    transition: padding-block 500ms;
}

.search-pokemon-hint-list[aria-expanded="true"] .search-pokemon-hint {
    padding-block: 1rem;
}

.search-pokemon-hint:hover,
.search-pokemon-hint:focus {
    color: var(--primary-200);
    background-color: var(--neutral-400);
}

.search-pokemon-hint[data-not-found]:hover,
.search-pokemon-hint[data-not-found]:focus {
    color: inherit;
    background-color: inherit;
    cursor: default;
}

.search-pokemon-message {
    position: absolute;
    color: hsl(var(--hp));
}

.search-pokemon-message[aria-hidden="false"] {
    opacity: 1;
}

.search-pokemon-message[aria-hidden="true"] {
    opacity: 0;
}

.search-icon {
    color: var(--neutral-500);
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, .6fr));
    column-gap: 2rem;
    row-gap: 2rem;
    place-content: center;
    margin-bottom: 4rem;
    list-style: none;

    /* Only tp get more space from absolutely spaced dropdown*/
    position: relative;
    top: 8rem;
    margin-bottom: 2rem;
}

.no-more-pokemon {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.no-more-pokemon[aria-hidden="true"] {
    display: none;
}

.see-more-button-wrapper {
    display: flex;
    justify-content: center;
}

.see-more-button {
    margin-bottom: 2rem;
    width: max-content;
}

.generation-dropdown-wrapper {
    --_dropdown-spacing: 1rem;
    background-color: var(--neutral-200);
    color: var(--neutral-600);
    padding-top: var(--_dropdown-spacing);
    border-radius: 1rem;
    position: absolute;
    z-index: 5;
    font-size: 1rem;
    cursor: pointer;
    min-width: 35ch;
    max-width: 40ch;
}

.generation-dropdown {
    max-height: 15rem;
}

.info-card {
    --_info-card-animation-duration: 250ms;
    position: fixed;
    top: min(5%, 1% + 1vw);
    left: 25%;
    right: 25%;
    z-index: 25;
    isolation: isolate;
    overflow-y: auto;
    max-height: 35rem;
    min-width: 20rem;
    transition: transform var(--_info-card-animation-duration) ease-in-out;
}

.info-card[aria-hidden="true"] {
    transform: scale(0);
}

.info-card[aria-hidden="false"] {
    transform: scale(1);
}

.info-card-header {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: var(--_card-spacing);
    padding-top: 3rem;
    padding-inline: var(--_card-spacing);
}

.info-card-heading {
    font-size: 2rem;
    text-align: center
}

.info-card-sprites-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.info-card-body {
    margin-bottom: 2rem;
}

.close-button {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.close-button:hover svg,
.close-button:focus svg {
    color: var(--primary-200);
}

.error-card {
    position: fixed;
    top: min(5%, 1% + 1vw);
    left: 25%;
    right: 25%;
    z-index: 15;
    isolation: isolate;
    max-width: 40rem;
}

.error-card-header {
    margin-inline: var(--_card-spacing);
}

.error-card[aria-hidden="true"] {
    transform: scale(0);
}

.error-card[aria-hidden="false"] {
    transform: scale(1);
}

.error-card-header h2 {
    width: 100%;
}

.error-card-body {
    margin-bottom: var(--_card-spacing);
}

.measurements {
    display: flex;
    font-size: .9rem;
    gap: 3rem;
    list-style: none;
    margin-bottom: 1rem;
}

.height-value,
.weight-value {
    font-weight: 700;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .825rem;
    list-style: none;
}

.stat {
    --slider-opacity: .5;
    --slider-color: var(--hp);
}

[data-stat="attack"] {
    --slider-color: var(--attack);
}

[data-stat="special-attack"] {
    --slider-color: var(--special-attack);
}

[data-stat="defense"] {
    --slider-color: var(--defense);
}

[data-stat="special-defense"] {
    --slider-color: var(--special-defense);
}

[data-stat="speed"] {
    --slider-color: var(--speed);
}

.stat-slider {
    background-color: hsl(var(--slider-color), var(--slider-opacity));
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
    height: .5rem;
}

.filled-stat-slider {
    --_filled-stat-slider-width: 90%;
    width: var(--_filled-stat-slider-width);
    display: block;
    height: 100%;
    background-color: hsl(var(--slider-color), 1);
}

.total-stats-value {
    font-weight: 700;
}

.overlay {
    background-color: hsl(0, 0%, 0%, .5);
    position: absolute;
    inset: 0;
    bottom: -10rem;
    isolation: isolate;
    transition: opacity 750ms ease-in-out;
}

.overlay[aria-hidden="true"] {
    opacity: 0;
    z-index: -1;
}

.overlay[aria-hidden="false"] {
    opacity: 1;
    transform-origin: center;
    z-index: 25;
}

.pokeball-icon {
    max-width: 20rem;
    max-height: 20rem;
    opacity: 1;
    isolation: isolate;
    position: fixed;
    top: 40%;
    right: 40%;
    left: 40%;
}

.overlay[aria-hidden="false"] .pokeball-icon {
    animation: spin 1.75s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        transform: rotate(360deg);
        scale: 1;
    }
}

.pokeball-icon-outline {
    fill:hsl(0, 0%, 22%);
}

.pokeball-icon-button {
    fill:var(--neutral-100);
}

.pokeball-icon-bottom {
    fill:hsl(0, 20%, 99%);
}

.pokeball-icon-top {
    fill: hsl(0, 84%, 59%);
}

.take-to-top {
    background-color: var(--primary-200);
    position: fixed;
    bottom: 10%;
    left: 90%;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-items: center;
    transform: rotate(180deg);
    z-index: 20;
}

@media (max-width: 45em) {
    .main-header {
        flex-direction: column;
        gap: 2rem
    }

    .search-pokemon-form {
        margin-inline: auto;
    }

    .info-card-header {
        flex-direction: column;
    }

    .weight,
    .height {
        display: flex;
        flex-direction: column;
    }

    .info-card {
        max-width: max-content;
    }

    .info-card-sprites-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .dropdown-wrapper {
        right: 22.5%;
        left: 10%;
    }

    .take-to-top {
        left: 80%;
    }
}